@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --dark-blue-main-BG: hsl(217, 54%, 11%);
  --dark-blue-card-BG: hsl(216, 50%, 16%);
  --dark-blue-card-Line: hsl(215, 32%, 27%);
  --soft-blue: hsla(215, 51%, 70%, 1);
  --symbol-color: hsla(178, 100%, 50%, 1);
  --white: hsl(0, 0%, 100%);

  --fs-small: 0.938rem;
  --fs-paragraph: 1.125rem;
  --fs-title: 1.375rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body { 
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 3.875em 1.5em;
  background-color: var(--dark-blue-main-BG);
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-paragraph);
  color: var(--soft-blue);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.container {
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.main__bg {
    padding: 1.5em 1.53em 1.5em 1.5em;
    background-color: var(--dark-blue-card-BG);
}

.main__image {
    border-radius: inherit;
    z-index: 1;
}

.main__image:hover {
    opacity: 0.5;
}

.overlay {
    display: grid;
    place-items: center;
    grid-template-areas: main;
    background: var(--symbol-color);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.overlay > * {
    grid-area: main;
}

.overlay > .eye-icon {
    z-index: 0;
}

.overlay:is(:hover, :focus)>.eye-icon {
    z-index: 1;
}

.main__title {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 28px;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    color: var(--white);
}

.main__title:hover,
.main__title:focus {
    color: var(--symbol-color);
    cursor: pointer;
}

.main__paragraph {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 26px;
    margin-bottom: 1em;
}

.article__price-flex {
    margin-bottom: 1em;
}

.article__span-ethereum {
    gap: 0.405em;
    align-items: center;
}

.article__span-ethereum p {
    font-style: normal;
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 19px;
    color: var(--symbol-color);
}

.article__span-ethereum img {
    width: 11px;
}

.article__span-time img {
    width: 16px;
    margin-right: 0.481em;
}

.article__span-time p {
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 19px;
}

hr {
    height: 1px;
    background-color: var(--dark-blue-card-Line);
    border: none;
    margin-bottom: 1em;
}

.article__creator-span{
    display: flex;
    align-items: center;
}

.article__creator-span img {
    width: 33px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.article__creator-span p {
    margin-left: 1em;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 19px;
    color: var(--white)
}

.article__creator-span p:hover,
.article__creator-span p:focus {
    color: var(--symbol-color);
    cursor: pointer;
}

.article__creator-span span{
    color: var(--soft-blue)
}

@media(min-width: 327px){
    .container{
        max-width: 350px;
    }
}

@media(min-width: 375px) {
    body{
        max-width: 1440px;
    }
}

