@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --dark-blue-main-BG: hsl(217, 54%, 11%);
  --dark-blue-card-BG: hsl(216, 50%, 16%);
  --dark-blue-card-Line: hsl(215, 32%, 27%);
  --soft-blue: hsla(215, 51%, 70%, 1);
  --symbol-color: hsla(178, 100%, 50%, 1);
  --white: hsl(0, 0%, 100%);

  --fs-small: 0.938rem;
  --fs-paragraph: 1.125rem;
  --fs-title: 1.375rem;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
  background-color: var(--dark-blue-card-BG);
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-paragraph);
  color: var(--soft-blue);
  padding: 7em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 350px;
}

.main__bg {
    background-color: var(--dark-blue-card-BG);
}